.banner{
    width: 20%;
    position: relative;
    border-right: 5px solid $primary-color;
    
    &__inner{
        width: 20%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
    }

    &__menuIcon{
        font-size: 3rem;
        cursor: pointer;
        display: none;
    }

    &__logo{
        margin-bottom: 6rem;
       img{
           width: 18rem;
           height: 11rem;
           object-fit: cover;
           box-shadow: 0 0 30px 10px rgba(black, 0.1);
       }
    }

    &__action{
        margin-bottom: 4rem;
        display: flex;
        align-items: center;

        &-icon{
            font-size: 2.2rem;
            color: gray;
            cursor: pointer;
            transition: 0.25s ease;

            
            &:first-child{
                font-size: 2.5rem;
            }
            
            &:nth-child(2){
                color: black;
            }
            
            &:not(:first-child){
                margin-left: 2rem;
            }

            &:hover{
                color: $primary-color;
                transform: translateY(-3px);
            }
        }
    }

    &__menu{
        width: 100%;
        padding-right: 5px;

        &-item{
            width: 100%;
            text-align: center;
            padding: 1.5rem;
            border-bottom: 1px solid $bg-color;
            cursor: pointer;
            transition: 0.25s linear;
            position: relative;

            &:hover{
                background-color: $bg-color;
            }

            &:hover .banner__menu-link{
                color: $primary-color;
            }

            &:hover .banner__menu-link::before{
                width: 100%;
            }
        }
        &-link{
            font-family: "Quicksand", sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: black;
            display: inline-block;
            letter-spacing: 2px;
            font-weight: 550;
            transition: 0.25s linear;
            padding-bottom: 0.5rem;
            position: relative;

            &::before{
                content: "";
                width: 0;
                height: 0.2rem;
                background-color: $primary-color;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.25s linear;
            }
        }

        &-hot{
            font-size: 1.2rem;
            color: white;
            padding: 0.3rem 0.4rem;
            border-radius: 3px;
            background-color: red;
            position: absolute;
            top: 0;
            left: 15%;

            &::before{
                content: "";
                width: 0.7rem;
                height: 0.7rem;
                background-color: red;
                position: absolute;
                top: 75%;
                left: 35%;
                transform: rotate(45deg);
            }
        }
    }


    &__phone{
        width: 65%;
        height: 4rem;
        padding-right: 2rem;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
        cursor: pointer;

        & > *{
            color: white;
        }
        &-icon{
            padding: 0.5rem 1rem;
            background-color: rgba($bg-color, 0.2);
            &::before{
                font-size: 2.5rem;
            }
        }
        &-number{
            padding-left: 1rem;
            font-size: 1.6rem;
            letter-spacing: 0.1rem;
            padding-bottom: 0.2rem;
            border-bottom: 2px solid transparent;
            transition: 0.25s linear;

            &:hover{
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }

    &__social{
        display: flex;
        align-items: center;

        &-icon{
            cursor: pointer;
            color: gray;
            font-size: 1.8rem;
            transition: 0.25s ease;

            &:hover{
                color: $primary-color;
                transform: translateY(-3px);
            }

            &::before{
                font-size: 1.8rem;
            }
            &:not(:first-child){
                margin-left: 2rem;
            }
        }
    }

    &__menuClick{
        font-size: 3rem;
    }
}

.search-modal{
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 0;
    background-color: rgba(black, 0.6);
    opacity: 0;


    &-inner{
        position: fixed;
        z-index: 999;
        top: -65px;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 6.5rem;
        transition: 0.35s linear;
    
        input{
            width: 100%;
            height: 100%;
            padding: 0 10rem;
            outline: none;
            border: none;
            font-size: 1.5rem;
            color: gray;
    
        }
        ::placeholder{
            font-size: 1.5rem;
            color: gray;
            letter-spacing: 1px;
        }
    
        ion-icon{
            cursor: pointer;
            font-size: 2.5rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    
        ion-icon:first-child{
            left: 50px;
        }
        ion-icon:last-child{
            right: 50px;
            color: #eee;
            transition: 0.2s ease;
    
            &:hover{
                color: gray;
            }
        }
    }

    @media screen and(max-width: 767px){
        &-inner{

            input{
                padding: 0 7rem;
            }
            ion-icon:first-child{
                left: 20px;
            }
            ion-icon:last-child{
                right: 20px;
            }
        }
    }

    @media screen and(max-width: 469px){
        &-inner{

            input{
                padding: 0 5rem;
            }
            ::placeholder{
                font-size: 1.3rem;
            }
            ion-icon{
                font-size: 2rem;
            }
            ion-icon:first-child{
                left: 10px;
            }
            ion-icon:last-child{
                right: 10px;
            }
        }
    }

    @media screen and(max-width: 1023px){
        &-inner{
            display: none;
            width: 60%;
        }
    }

    @media screen and(max-width: 767px){
        &-inner{
            height: 5.5rem;
            width: 60%;
        }
    }

    @media screen and(max-width: 479px){
        &-inner{
            height: 4.8rem;
            width: 70%;
        }
    }
}

.search-modal-inner{
    @media screen and(max-width: 1023px){
        top: 15rem;
        display: none;
    }
}


.search-modal.is-actived{
    height: 100vh;
    opacity: 1;
}


.search-modal-inner.is-actived{
    
    @media screen and(min-width: 1024px){
        top: 65px;
    }

    @media screen and(max-width: 1023px){
        display: block;
    }
}




.cart-modal{
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 99;
    background-color: rgba(black, 0.5);
    opacity: 0;

    &-inner{
        position: fixed;
        z-index: 999;
        width: 30%;
        padding: 6rem;
        background-color: rgba(black, 0.9);
        color: white;
        transition: 0.35s linear;
        transform: translateY(-100%);
    }

    &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7rem;

        h2{
            letter-spacing: 1px;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid $primary-color;
        }

        i{
            color: white;
            cursor: pointer;
            font-size: 2.5rem;
            transition: 0.25s linear;

            &:hover{
                color: $primary-color;
            }
        }
    }

    &-product{
        font-weight: 300;
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid white;
    }

    &-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;

        h2{
            letter-spacing: 1px;
        }
    }

    &-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            font-weight: 500;
            font-size: 1.3rem;
            padding: 1.5rem 2.5rem;
            background-color: black;
            border: 1px solid $primary-color;
            box-shadow: 0 0 15px rgba(white, 0.25);
            transition: 0.25s linear;
            overflow: hidden;

            &:hover{
                color: $primary-color;
                border-color: white;
                box-shadow: 0 0 20px rgba($primary-color, 0.5);
            }
        }
    }


    @media screen and(max-width: 1279px){
        &-inner{
            width: 35%;
            padding: 5rem 3rem;
            box-shadow: 0 0 20px 10px rgba(white, 0.5);
        }
        &-button a{
            padding: 1.5rem 2.2rem;
        }
    }
    
    @media screen and(max-width: 1023px){
        &-inner{
            width: 45%;
            right: 0;
            top: 13.5rem;
            transform: translateX(100%) !important;
        }
    }

    @media screen and(max-width: 767px){
        &-inner{
            padding: 3rem 2rem;
            width: 60%;
            top: 11.5rem;
        }

        &-top{
            margin-bottom: 5rem;
            h2{
                font-size: 1.3rem;
            }
            i{
                font-size: 2rem;
            }
        }
        &-price{
            h2{
                font-size: 1.2rem;
            }
        }
        &-button{
            flex-direction: column;

            a{
                width: 80%;
                font-size: 1.2rem;
                &:first-child{
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    @media screen and(max-width: 479px){
        &-inner{
            padding: 2.5rem 1.5rem;
            width: 75%;
            top: 9.5rem;
        }

        &-top{
            margin-bottom: 3.5rem;
        }
        &-product{
            padding-bottom: 2.5rem;
        }

        &-button{
            flex-direction: column;
            a{
                &:first-child{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}


.cart-modal.is-actived{
    height: 100vh;
    opacity: 1;
}

.cart-modal-inner.is-actived{
    
    transform: translateY(0);

    @media screen and(max-width: 1023px){
        transform: translateX(0) !important;
    }
}
    

@media screen and(max-width: 1279px){
    .banner{
        width: 25%;
        
        &__inner{
            width: 25%;
        }
        &__phone-number{
            font-size: 1.4rem;
        }
    }
}

@media screen and(max-width: 1023px){
    .banner{
        width: 100%;
        height: 12rem;
        z-index: 99999999999999;
        border: none;
        margin-bottom: 1.5rem;

        &__inner{
            padding: 1rem 2rem;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &__menuIcon{
            display: block;
        }

        &__social,&__phone, &__action ion-icon:first-child{
            display: none;
        }

        &__action{
            position: relative;
            z-index: -999;
            margin: 0; 

            ion-icon{
                color: black;
            }
        }


        &__logo{
            margin: 0;
            box-shadow: 0 0 25px 10px rgba(white, 0.4);
            width: 15rem;
            margin-left: 3rem;
            
            img{
                width: 100%;
                height: auto;
            }
        }

        // menu-click

        &__menuWrap{
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100vh;
            background-color: rgba(black, 0.7);
            transition: 0.35s linear;
            opacity: 0;
        }

        .banner__menuWrap.is-actived{
            width: 100%;
            opacity: 1;
        }

        &__menuRespon{
            height: 100vh;
            width: 45%;
            position: fixed;
            z-index: 99999;
            top: 0;
            left: 0;
            background-color: rgba(white, 1);
            display: flex;
            transform: translateX(-100%);
            transition: 0.35s linear;

            img{
                width: 18rem;
                height: auto;
                box-shadow: 0 0 40px 7px rgba(black, 0.2);
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
            }

            ion-icon:last-child{
                font-size: 3rem;
                position: absolute;
                color: black !important;
                top: 30px;
                right: 20px;
            }
        }

        &__menu{
            width: 45%;
            position: absolute;
            top: 20rem;
            left: 0;
            z-index: 9999999999;
            padding: 0;
            transform: translateX(-100%);
            transition: 0.35s linear;

        }

        
        @media screen and(max-width: 767px){
            &__menuRespon{
                width: 65%;
            }
            &__menu{
                width: 65%;
            }
        }

        @media screen and(max-width: 479px){
            &__menuRespon{
                width: 80%;
                img{
                    width: 12rem;
                }
            }
            &__menu{
                top: 14rem;
                width: 80%;
            }
        }
    }
    

    .banner.is-actived{
        position: fixed;
        transition: 0.25s linear;
        background-color: rgba(black, 0.6);
    
        ion-icon{
            transition: 0.25s linear;
            color: white;
        }
    }

    .banner__menuRespon.is-actived{
        transform: translateX(0);
    }
    .banner__menu.is-actived{
        transform: translateX(0);
    }
    .banner__phone.is-actived{
        transform: translateX(0);
    }
}

@media screen and(min-width: 1024px){
    .banner__menuRespon {
        img, .menu-close{
            display: none;
        }
    }
    .banner__menuClick{
        display: none;
    }
}


@media screen and(max-width: 767px){
    .banner{
        height: 10rem;

        &__logo{
            width: 12rem;
            margin-left: 2.5rem;
            img{
                width: 100%;
            }
        }
        &__action ion-icon:nth-child(3){
            display: none;
        }
    }
}

@media screen and(max-width: 479px){
    .banner{
        height: 8rem;

        &__logo{
            margin-left: 3.7rem;
            width: 10rem;
            img{
                width: 100%;
            }
        }
    }
}