
$primary-font: 'Open sans', sans-serif;
$second-font: 'Raleway', sans-serif;

$gray-text: #a0a8b5;
$pink-text: #f65464;

$gray-dark: #222831;
$gray-light: #2b3139;

$color-1: #f66767;
$color-2: #f68827;

// footer
$blue: #4a44f2;
