.design{
    margin-bottom: 9rem;
    &__top{
        margin-bottom: 11rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &-image{
            margin: 0 auto 7rem;
        }

        &-icon{
            display: inline-block;
            width: 17rem;
            height: 17rem;
            background-color: $primary-color;
            border-radius: 50%;
            color: white;
            margin-bottom: 4rem;
            position: relative;

            &::before{
                content: "";
                font-size: 5.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-name{
            margin-left: auto;
            margin-right: auto;
        }

        &-list{
            display: flex;           
            align-items: center;
            justify-content: space-between;

            & > *{
                width: calc(33.33% - 1.8rem);
            }
        }

        &-item{
            transform: translateY(15px);
            opacity: 0;
            transition: 0.6s linear;

            &:nth-child(2){
               transition-delay: 0.6s;
            }
            &:last-child{
               transition-delay: 1.2s;
            }
        }

        &-item[data-scroll="in"]{
            opacity: 1;
            transform: translateY(0);
        }
    }


    &__middle{
        display: flex;
        align-items: center;
        
        &-image{
            width: 50%;
            background-color: $bg2-color;
            overflow: hidden;

            img{
                transform: translateY(-20px);
                transition: 1s linear;
            }

            img[data-scroll="in"]{
                transform: translateY(0);
            }
        }

        &-content{
            max-width: 30%;
            margin: 0 auto;

            .slick-dots{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .slick-dots li{
                display: inline-block;
                margin: 0 0.7rem;
            }
            .slick-dots li button{
                cursor: pointer;
                font-size: 0;
                height: 1.2rem;
                width: 1.2rem;
                border-radius: 50%;
                border: none;
            }
            .slick-dots .slick-active button{
                background-color: $primary-color;
            }
        }

        &-item{
            width: 100%;

            h2{
                text-align: center;
            }
            img{
                margin: 0 auto 2rem;
            }
            p{
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        
    }

    &__footer{
        background: url(../images/plants-bg.jpg) center;
        background-size: cover;
        padding: 8rem 0;
        text-align: center;
        color: white;

        &-heading{
            font-size: 4.2rem;
            letter-spacing: 3px;
        }

        &-desc{
            font-size: 2.5rem;
            letter-spacing: 4px;
            margin-bottom: 2rem;

            span{
                font-style: italic;
            }
        }

        &-icon{
            cursor: pointer;
            width: 4.5rem;
            height: 4.5rem;
            background-color: rgba($primary-color, 0.8);
            border-radius: 50%;
            position: relative;
            transition: 0.2s linear;

            &::before{
                font-size: 2.5rem;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover{
                background-color: $primary-color;
            }
        }
    }


    @media screen and(max-width: 1279px){
        &__top{
            max-width: 95%;
        }
        &__middle{
            &-content{
                max-width: 40%;
            }
        }
    }

    @media screen and(max-width: 1023px){
        &__top{
            &-list{
                flex-direction: column;
            }

            &-item{
                width: 100%;
                &:not(:last-child){
                    margin-bottom: 3rem;
                }
            }
        }

        &__middle{
            background-color: $bg2-color;
            padding: 10rem 0;
            &-image{
                display: none;
                width: 0;
            }
            &-content{
                max-width: 90%;
            }
        }

        &__footer{
            padding: 6rem 0;
        }
    }

    @media screen and(max-width: 767px){
        &__top{
            max-width: 100%;
        }

        &__middle{
            &-content{
                max-width: 95%;
            }
        }

        &__footer{
            &-heading{
                font-size: 3.5rem;
            }
            &-desc{
                font-size: 2rem;
            }
        }
    }

    @media screen and(max-width: 469px){
        &__top{
            max-width: 95%;
        }

        &__footer{
            &-heading{
                font-size: 2.7rem;
            }
            &-desc{
                font-size: 1.6rem;
            }
        }
    }
}